.cards{
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 26vh;
    padding-right: 26vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1262px) {
        justify-content: space-around;
        gap: 50px;
    }

    @media (max-width: 630px){
        padding: 0;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .card{
        width: 100%;
        max-width: 300px;
        height: auto;
       background: linear-gradient(45deg, #222, #111);
        min-height: 400px;
        // background-color: #222222;
        border-radius: 8px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 630px){
            
        }
       
        img{
            width: 128px!important;
        }

        .texto{
            font-size: 1.3rem;
            color: #fff;
            text-align: center;
        }

        .primeiro{
            margin-bottom: -20px;
            padding-top: 20px;
        }
        .terceiro{
            margin-top: -20px;
        }
        .destaque{
            font-size: 5rem;
            font-weight: bolder;
        }
    }
}