.btn-vermelho{
    padding: 10px 20px;
    background-color: #d61515;
    display: flex;
    align-items: center;    
    text-decoration: none;
    color: #fff;
    border-radius: 8px;

    box-icon{
        transform: translateY(0);
        transition: .3s;
    }

    &:hover{
        background-color: #e43636;
        color: #fff;
        box-icon{
            
            transform: translateY(5px);
            transition: .3s;
        }
    }
}