header {
  width: 100%;
  height: 12vh;
  position: fixed;
  background-color: #d61515 !important;
  z-index: 99 !important;
  display: flex;
  flex-direction: column;
}
header .redes-sociais {
  width: 100%;
  height: 33.3%;
  background-color: #fff;
  padding: 0 26vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 101 !important;
}
@media (max-width: 630px) {
  header .redes-sociais {
    padding: 0 3vh !important;
  }
}
header .redes-sociais span {
  font-size: 1rem;
  font-weight: bolder;
}
@media (max-width: 630px) {
  header .redes-sociais span {
    font-size: 0.8rem;
  }
}
header .redes-sociais .links {
  width: 50%;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
header .redes-sociais .links .rede {
  width: 20px;
  height: 20px;
  background-size: 20px;
  transition: 0.3s;
}
header .redes-sociais .links .rede:hover {
  opacity: 0.8;
  transition: 0.3s;
}
header .redes-sociais .links .facebook {
  background-image: url("https://github.com/PauloMoreiraa/DPL/blob/main/img/icons/facebook.png?raw=true");
}
header .redes-sociais .links .instagram {
  background-image: url("https://github.com/PauloMoreiraa/DPL/blob/main/img/icons/instagram.png?raw=true");
}
header .redes-sociais .links .linkedin {
  background-image: url("https://github.com/PauloMoreiraa/DPL/blob/main/img/icons/linkedin.png?raw=true");
}
header .redes-sociais .links .whatsapp {
  background-image: url("https://github.com/PauloMoreiraa/DPL/blob/main/img/icons/whatsapp1.png?raw=true");
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0 26vh;
}
@media (max-width: 820px) {
  header nav {
    padding: 0 5vh !important;
  }
}
header nav .logo {
  z-index: 100 !important;
}
header nav .logo img {
  width: 200px;
}
@media (max-width: 700px) {
  header nav .logo img {
    width: 120px;
  }
}
header nav .mobile-menu {
  font-size: 1rem;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  color: #fff;
  z-index: 100 !important;
}
header nav .mobile-menu.active {
  transform: rotate(-90deg);
  transition: 0.3s;
}
@media (max-width: 820px) {
  header nav .mobile-menu {
    display: block;
  }
}
header nav .nav-list {
  list-style: none;
  display: flex;
  background-color: #d61515;
  height: 100%;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 820px) {
  header nav .nav-list {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-200%);
    transition: 0.3s ease-out;
  }
  header nav .nav-list.active {
    transform: translateY(0);
    transition: 0.3s ease-in;
  }
}
header nav .nav-list li {
  margin-left: 30px;
  letter-spacing: 2px;
}
@media (max-width: 820px) {
  header nav .nav-list li {
    margin-left: 0;
  }
}
header nav .nav-list li a {
  color: #fff;
  opacity: 1;
  transition: 0.3s;
  text-decoration: none !important;
}
header nav .nav-list li a:hover {
  opacity: 0.8;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */